/* Name: Oliver Fox*/
/* Stylesheet responsible for nearly every page of the website */

/* Font imports for 'Gilroy' */
@font-face {
    font-family: 'GilroyBold';
    src: url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.eot');
    src: url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.woff') format('woff'),
    url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.ttf') format('truetype'),
    url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyMedium';
    src: url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.eot');
    src: url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.woff') format('woff'),
    url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.ttf') format('truetype'),
    url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

html, body {
    background-color: #003a65;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* Background gradient animation */
/* Adapted from https://codepen.io/P1N2O/pen/pyBNzX */
body {
	background: linear-gradient(-45deg, #003a65, #103f67, #113448, #0d0c4e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Global font and colour for certain text tags */
h3 {
    font-family: 'GilroyBold', 'sans-serif';
    color: white;
    text-align: center;
}
h2, h4 {
    font-family: 'GilroyBold', 'sans-serif';
    color: white;
}
p {
    font-family: 'GilroyMedium', 'sans-serif';
    font-weight: lighter;
    color: white;
}
b {
    font-family: 'GilroyMedium', 'sans-serif';
    color: white;
}


/* Firework animations */
@keyframes    firework-animation {
    0% {background-color : #ff8426;}
    25% {background-color : #fffc84;}
    50% {background-color : #ff83f4;}
    75% {background-color : #83b6ff;}
    100% {background-color : #ff8426;}
}

@-webkit-keyframes firework-animation {
    0% {background-color : #ff8426;}
    25% {background-color : #fffc84;}
    50% {background-color : #ff83f4;}
    75% {background-color : #83b6ff;}
    100% {background-color : #ff8426;}
}

.fireWorkParticle {
    z-index : 0;
    position: absolute;
    height : 5px;
    width : 5px;
    border-radius : 5px;
    animation-name : firework-animation;
    animation-timing-function : linear;
    animation-duration : 1s;
    animation-iteration-count : infinite;
}

#homeLayout {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    --x: 0px;
    --y: 0px;
}

#newcastleLogo {
    height: 5vw;
    width: 4vw;
    position: absolute;
    text-align: center;
    top: 52%;
    left: 50%;
    transform: translate(-160%, -42%);
    -webkit-filter: drop-shadow(0 0 2px #1f1f1f);
    filter: drop-shadow(0 0 2px #1f1f1f);
}

#universityHeading {
    position: absolute;
    text-align: center;
    top: 48%;
    left: 47%;
    transform: translate(-50%, -50%);
}

#newcastleText {
    text-align: center;
    font-size: 2.6vw;
    font-family: 'GilroyBold', 'sans-serif';
    line-height: 0.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -190%);
    color: white;
    text-shadow: 0 0 5px #000000;
}

#universityText {
    text-align: center;
    font-size: 2.8vw;
    font-family: 'GilroyMedium', 'sans-serif';
    font-weight: lighter;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -60%);
    color: white;
    text-shadow: 0 0 5px #000000;
}

/* Back button displayed on navigation bar */
#back {
    height: 40%;
    fill: white;
    top: 32%;
    left: 2%;
    text-align: left;
    position: absolute;
    cursor: pointer;
    z-index: 3;
}

/* Arrow displayed at the bottom of the navigation bar */
#navArrow {
    height: 17%;
    fill: white;
    top: 84%;
    left: 50%;
    text-align: left;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    opacity: 100;
    transform: rotate(270deg);
    transition: 1s;
}

/* Flip arrow around when user hovers over navigation bar */
.topnav:hover #navArrow {
    transform: rotate(90deg);
    transition: 1s;
}

/* Login button located on the home screen */
#login {
    font-family: 'GilroyBold', 'sans-serif';
    color: white;
    border-radius: 25px;
    background: #8a1425;
    padding: 15px;
    top: 3%;
    right: 3%;
    position: absolute;
    z-index: 0;
    cursor: pointer;
    font-size: 1em;
}

/* Admin button displayed only when an admin is logged in */
#adminBtn {
    font-family: 'GilroyBold', 'sans-serif';
    color: white;
    border-radius: 25px;
    background: #8a1425;
    padding: 15px;
    top: 15%;
    right: 3%;
    position: absolute;
    z-index: 0;
    cursor: pointer;
    display: none;
    font-size: 1em;
}

/* Properties for home page bubbles */
.homePageBubble {
    height: 14vh;
    width: 14vh;
    background-color: #d91a35;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    box-shadow: 0 0 5px #8a1425;
    z-index: 0;
}

/* Positioning of home page bubbles */
#chatBubble {
    top: 20%;
    left: 30%;
}

#newsBubble {
    left: 46%;
    top: 10%;
}

#pubsBubble {
    top: 20%;
    right: 30%;
}

#mapBubble {
    bottom: 44%;
    right: 22%;
}

#accommBubble {
    bottom: 44%;
    left: 22%;
}

#healthBubble {
    bottom: 20%;
    right: 30%;
}

#societiesBubble {
    left: 46%;
    bottom: 10%;
}

#revisionBubble {
    bottom: 20%;
    left: 30%;
}

/* Positioning of the bubble icons */
.homeBubbleImg {
    height: 9vh;
    margin-top: 17%;
    z-index: 1;
}

/* Positioning for the tooltip text when hovering over a bubble on the home screen */
.bubbleTooltip {
    font-family: 'GilroyMedium', 'sans-serif';
    font-weight: lighter;
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 1s;
}

/* When mouse is hovered over bubble, display text */
#chatBubble:hover #chatBubbleTooltip, #newsBubble:hover #newsBubbleTooltip,
#pubsBubble:hover #pubsBubbleTooltip, #mapBubble:hover #mapBubbleTooltip,
#accommBubble:hover #accommBubbleTooltip, #healthBubble:hover #healthBubbleTooltip,
#societiesBubble:hover #societiesBubbleTooltip, #revisionBubble:hover #revisionBubbleTooltip {
    visibility: visible;
    opacity: 1;
}

/* Hide loading symbol for sign up and loading boxes */
.loading {
    margin-top: -25%;
    opacity: 0%;
}

/* Login/Register Page */
.signUpDialog, .loginDialog  {
    position: fixed;
    z-index: 1;
    padding-top: 2%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
    transform: translateX(-1500px); /* Start off screen so it animates in from the left on load */
}

/* Forgot password dialog box */
.forgotDialog  {
    position: fixed;
    z-index: 1;
    padding-top: 2%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
    transform: translateX(1500px); /* Start off screen so it animates in from the left on load */
}

/* Dialog box for when the user has signed in with Google */
.gSignUpDialog {
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
}

/* Set styling of sign-up/login boxes */
.signUpDialogContent, .loginDialogContent, .gSignUpDialogContent, .forgotDialogContent {
    background-color: #142e51;
    margin: auto;
    padding: 20px;
    border: 1px solid #081730;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 30px 1px #2b2c51;
}

/* Input fields that should fit to the width of the dialog boxes*/
#signUpEmail, #loginEmail, #loginPassword, #forgotEmail {
    position: relative;
    width: 95%;
    z-index: 1;
}

/* Set name and password boxes to be half width */
#firstName, #lastName, #signUpPassword, #signUpPasswordRepeat {
    width: 45%;
    z-index: 1;
}

#registerLink, #backToSignInLink {
    cursor: pointer;
    color: #5163ba;
    text-align: center;
}

/* Styling for input boxes */
input{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
    border: 1px solid #071822;
    color: #000000;
    height: 30px;
    padding-left: 10px;
    font-family: Nunito, serif;
}

/* Remove outline of box when input field is selected */
input:focus {
    outline: none;
    border: 1px solid #459bc8;
}

/* Styling for buttons in login page */
#signUpBtn, #loginBtn, #gSignUp, #forgotEmailBtn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
    background-color: cornflowerblue;
    border: 1px solid #459bc8;
    color: white;
    width: 100%;
    padding: 5px;
    text-align: center;
    z-index: 1;
}

/* Styling for Google sign in button*/
#googleSignIn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
    background-color: #963434;
    border: 1px solid #662828;
    color: white;
    width: 100%;
    padding: 5px;
    text-align: center;
}

/* Change font of select boxes */
.mobileSelect-container {
    font-family: 'Nunito', 'sans-serif';
}

/* Make select menu full width of sign up box */
button.btn-mobileSelect-gen:not([class*=col-]):not([class*=form-control]):not(.input-group-btn):not(.btn-block) {
    width: 100% !important;
    font-family: 'Nunito', 'sans-serif';
}

/* Set colour of select menu text to black */
.mobileSelect-container.mac .list-container .mobileSelect-control {
    color: black;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: #003a65;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* Format Messenger Appearance */
df-messenger{
   --df-messenger-button-titlebar-color: #d91a35;
   --df-messenger-font-color: black;
   --df-messenger-send-icon: #d91a35;
   --df-messenger-user-message: #d1d1d1;
}

button#widgetIcon .df-chat-icon {
    width: 30px !important;
    left: 13px !important;
}

/* Properties for the navigation bar */
.topnav {
    overflow: hidden;
    background-color: #003a65;
    font-family: 'GilroyMedium', 'sans-serif';
    transform: translateY(-85%); /* Only have part of navigation bar displayed */
    transition: transform 1s;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 5;
}

/* Move navigation bar down when mouse hovers over it */
.topnav:hover {
    transform: translateY(0%);
    transition: transform 1s;
}

/* Navigation bar buttons */
.navBubble {
    height: 5vh;
    width: 5vh;
    background-color: #d91a35;
    border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0 0 5px #8a1425;
    z-index: 0;
}

/* Positioning of navigation icons */
.navBubbleImg {
    height: 3.5vh;
    z-index: 1;
    margin-top: 15%;
}

/* Positioning of bubble text tooltips */
.navBubbleTooltip {
    font-family: 'GilroyMedium', 'sans-serif';
    font-weight: lighter;
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 1.5vh;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 88%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 1s;
}

/* Reveal tooltip text on mouse hover */
#navChatBubble:hover #navChatTooltip, #navNewsBubble:hover #navNewsTooltip,
#navPubsBubble:hover #navPubsTooltip ,#navMapBubble:hover #navMapTooltip,
#navAccommBubble:hover #navAccommTooltip, #navHealthBubble:hover #navHealthTooltip,
#navSocietiesBubble:hover #navSocietiesTooltip, #navRevisionBubble:hover #navRevisionTooltip {
    visibility: visible;
    opacity: 1;
}

/* Properties for the account box background */
.box {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    opacity: 0%;
}

/* Properties for the account box on the home page */
.box-content {
    background-color: #0a182b;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 25px;
}

/* Properties for the X button in the account box on the home page */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* When logged in, size of profile picture and change shape to circle */
#accountPicture {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}

/* Change picture button in account box */
#changePicture {
    position: fixed;
    left: 7px;
    top: 197px;
    color: white;
    border: none;
}

/* Save changes button in account box */
#saveBtn {
    width: 100%;
    font-family: 'GilroyBold', 'sans-serif';
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background-color: #47a424;
}

/* Logout button in account box */
#logoutBtn {
    width: 100%;
    font-family: 'GilroyBold', 'sans-serif';
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background-color: darkred;
}

/* Position of error messages when signing up */
.signUpError {
    opacity: 0%;
    margin-top: -35px;
    color: #ff4444;
    text-align: center;
    z-index: 0;
    display: none;
}

/* Move map down the page so it is not obstructed by navigation bar */
#map {
    height: 98%;
    top: 2%;
    left: 0;
    position: absolute;
}

/* Prevents text from being able to be selected */
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Text at the bottom of the home page */
#courseworkText {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 80%;
    left: 12%;
}

/* Referral link colour */
.reflink {
    color: #d91a35;
}