<!--
Name: Oliver Fox

This is the index.html page which includes all the "bubbles" that links to the other pages of the website, when clicking
on the bubbles it animates to resize to the fullscreen of the device and changes the content of the page.

From this page you can find the login button which will redirect you to the login/register page to sign in/create your
account. When logged in you'll be able to access your account details showing your name, email, school and profile
picture. If you sign in with Google, your profile picture will be pulled from your account, if not it will default to
a randomly selected colour. You can change your profile picture from this account screen if you want to.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Open Graph Meta Tags responsible for how the URL is displayed when shared on social media. -->
    <meta property="og:title" content="RouteToUni"/>
    <meta property="og:description" content="A place for Newcastle University students to get to grips with University life."/>
    <meta property="og:url" content="https://routetouni.me"/>
    <meta property="og:image" content="static/images/home/ogimage.jpg"/>
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <script src="static/js/animejs/lib/anime.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px)" href="../static/css/mobile-stylesheet.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (min-width: 701px) and (max-width: 950px)" href="../static/css/tablet-stylesheet.css" />

    <!-- Link all favicons for different sizes. -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}"> <!-- Manifest responsible for working as a web app on mobile devices. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <title>RouteToUni</title>

    <!-- Dialogflow AI Chat Box script and configuration. -->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger id="chatbot"
            intent="WELCOME"
            chat-title="Route2Uni Helpbot"
            chat-icon="../static/images/home/help.png"
            agent-id="605e3a24-4b9c-400a-ac8d-5a8a6062f37f"
            language-code="en">
    </df-messenger>
</head>
<body>
    <div id="accountBox" class="box">
        <div id="box" class="box-content">
            <span class="close">&times;</span>
            <h3>Account</h3>
            <b>Profile Picture:</b><p><img alt="Profile picture" id="profilePicture" width="75px" height="75px"/></p><input id="changePicture" type='file' accept="image/*"/><br>
            <b>Name:</b><p id="name"></p>
            <b>Email:</b><p id="email"></p>
            <b>Course:</b><p id="course"></p>
            <button id="saveBtn" onclick="changePicture()">SAVE CHANGES</button><br><br>
            <button id="logoutBtn" onclick="logout()">LOGOUT</button>
        </div>
    </div>

    <div id="homeLayout" onclick="newFireWorkStar(event.pageX - container.offsetLeft, event.pageY - container.offsetTop);">
        <span id="login" onmouseover="bubbleHover('#login')" onmouseout="bubbleLeave('#login')" onclick="checkLogin()" class="noSelect">
            <img id="accountPicture" alt="Profile picture"/>
        </span>

        <span id="adminBtn" onmouseover="bubbleHover('#adminBtn')" onmouseout="bubbleLeave('#adminBtn')" onclick="window.location.assign('/admin')">
            Admin
        </span>

        <div id="universityHeading" class="noSelect">
            <img src="../static/images/home/newcastle-logo.png" id="newcastleLogo" alt="Newcastle University logo"/>
            <h1 id="newcastleText">Newcastle</h1>
            <h1 id="universityText">University</h1>
        </div>

        <!-- All bubbles in ring on home page -->
        <span id="chatBubble" class="homePageBubble" onclick="bubbleClick('chatBubble', '#chatImg', 'chat')" onmouseover="bubbleHover('#chatBubble')" onmouseout="bubbleLeave('#chatBubble')">
            <img id="chatImg" class="homeBubbleImg" src="../static/images/bubbles/chat.png" alt="Chat"/>
            <span id="chatBubbleTooltip" class="bubbleTooltip noSelect">Chat</span></span>
        <span id="newsBubble" class="homePageBubble" onclick="bubbleClick('newsBubble', '#newsImg', 'news')" onmouseover="bubbleHover('#newsBubble')" onmouseout="bubbleLeave('#newsBubble')">
            <img id="newsImg" class="homeBubbleImg" src="../static/images/bubbles/news.png" alt="News"/>
            <span id="newsBubbleTooltip" class="bubbleTooltip noSelect">News</span></span>
        <span id="pubsBubble" class="homePageBubble" onclick="bubbleClick('pubsBubble', '#pubsImg', 'pubs')" onmouseover="bubbleHover('#pubsBubble')" onmouseout="bubbleLeave('#pubsBubble')">
            <img id="pubsImg" class="homeBubbleImg" src="../static/images/bubbles/drinks.png" alt="Pubs & Clubs"/>
            <span id="pubsBubbleTooltip" class="bubbleTooltip noSelect">Pubs & Clubs</span></span>
        <span id="mapBubble" class="homePageBubble" onclick="bubbleClick('mapBubble', '#locationImg', 'map')" onmouseover="bubbleHover('#mapBubble')" onmouseout="bubbleLeave('#mapBubble')">
            <img id="locationImg" class="homeBubbleImg" src="../static/images/bubbles/location.png" alt="Map"/>
            <span id="mapBubbleTooltip" class="bubbleTooltip noSelect">Campus Map</span></span>
        <span id="accommBubble" class="homePageBubble" onclick="bubbleClick('accommBubble', '#accommodationImg', 'accommodation')" onmouseover="bubbleHover('#accommBubble')" onmouseout="bubbleLeave('#accommBubble')">
            <img id="accommodationImg" class="homeBubbleImg" src="../static/images/bubbles/home.png" alt="Accommodation"/>
            <span id="accommBubbleTooltip" class="bubbleTooltip noSelect">Accommodation</span></span>
        <span id="healthBubble" class="homePageBubble" onclick="bubbleClick('healthBubble', '#healthImg', 'health')" onmouseover="bubbleHover('#healthBubble')" onmouseout="bubbleLeave('#healthBubble')">
            <img id="healthImg" class="homeBubbleImg" src="../static/images/bubbles/health.png" alt="Health"/>
            <span id="healthBubbleTooltip" class="bubbleTooltip noSelect">Health</span></span>
        <span id="societiesBubble" class="homePageBubble" onclick="bubbleClick('societiesBubble', '#societiesImg', 'societies')" onmouseover="bubbleHover('#societiesBubble')" onmouseout="bubbleLeave('#societiesBubble')">
            <img id="societiesImg" class="homeBubbleImg" src="../static/images/bubbles/people.png" alt="Societies"/>
            <span id="societiesBubbleTooltip" class="bubbleTooltip noSelect">Societies</span></span>
        <span id="revisionBubble" class="homePageBubble" onclick="bubbleClick('revisionBubble', '#revisionImg', 'revision')" onmouseover="bubbleHover('#revisionBubble')" onmouseout="bubbleLeave('#revisionBubble')">
            <img id="revisionImg" class="homeBubbleImg" src="../static/images/bubbles/revision.png" alt="Revision"/>
            <span id="revisionBubbleTooltip" class="bubbleTooltip noSelect">Revision</span></span><br><br><br><br>

        <p id="courseworkText">This website was made as part of a Computer Science coursework project at Newcastle University,
            a list of all sources used for information displayed on the website can be found <a class="reflink" href='/references'>here</a>.</p>
    </div>

    <script src="static/js/animations.js"></script> <!-- Scrips involved with animating the bubble clicks etc. -->
    <script src="static/js/fireworks.js"></script> <!-- Script involved with showing fireworks when clicking on the background -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script id="user" type="application/json">{{ user | tojson | safe }}</script> <!-- Set user JSON object -->
    <script type="application/javascript" src="static/js/home.js"></script> <!-- Script with all functions for the home page, showing account box, changing profile picture, etc. -->

    <!-- Initialize Firebase -->
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-storage.js"></script>
    <script src="static/js/init.js"></script>
    <script src="static/js/auth.js"></script> <!-- Scripts involved for authentication -->
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
</body>
</html>