<!--
Name: Oliver Fox

This is the login.html page which contains dialog boxes for logging in, signing up and if you want to reset your passsword
with a "forgotten password" field.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-fullscreen-select.css"/>
    <script src="static/js/bootstrap-fullscreen-select.js"></script>
    <script src="static/js/animejs/lib/anime.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="../static/css/mobile-stylesheet.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (min-width: 701px) and (max-width: 950px)" href="../static/css/tablet-stylesheet.css" />

    <!-- Link all favicons for different sizes. -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}"> <!-- Manifest responsible for working as a web app on mobile devices. -->
    <title>Login - RouteToUni</title>
</head>
<body>
    <div id="loginDialog" class="loginDialog">
        <div class="loginDialogContent">
            <h3 class="noSelect">Login</h3>
            <label for="loginEmail"></label><input type="email" name="email" id="loginEmail" placeholder="Email" style="font-family: Nunito"><br><br>
            <label for="loginPassword"></label><input type="password" name="password" id="loginPassword" placeholder="Password" style="font-family: Nunito"><br><br>
            <p class="signUpError" id="loginError">e</p>

            <button onclick="login(document.getElementById('loginEmail').value, document.getElementById('loginPassword').value)" id="loginBtn" style="font-family: Nunito" class="noSelect">Login</button>

            <br>
            <div style="width: 100%; text-align: center">
                <img id="loginLoading" class="loading" src="../static/images/spinner.svg"> {# Animation from loading.io #}
            </div>


            <button onclick="handleAuthClick()" id="googleSignIn" style="font-family: Nunito" class="noSelect">Sign in with Google</button>

            <br><br><div style="text-align: center"><a onclick="getForgotPassword()" id="registerLink" style="font-family: Nunito" class="noSelect">Forgot password?</a></div>
            <br><div style="text-align: center"><a onclick="getSignUp()" id="registerLink" style="font-family: Nunito" class="noSelect">Don't have an account? Register here</a></div>
        </div>
    </div>

    <div id="signUpDialog" class="signUpDialog">
        <div class="signUpDialogContent">
            <h3 class="noSelect">Sign Up</h3>
            <label for="firstName"></label><input type="text" name="firstname" id="firstName" placeholder="First Name" style="font-family: Nunito"><label for="lastName"></label><input type="text" name="lastname" id="lastName" placeholder="Surname" style="font-family: Nunito"><br><br>
            <p class="signUpError" id="nameError">e</p>

            <label for="signUpEmail"></label><input type="email" name="email" id="signUpEmail" placeholder="Email" style="font-family: Nunito"><br><br>
            <p class="signUpError" id="emailError">e</p>

            <label for="signUpPassword"></label><input type="password" name="password" id="signUpPassword" placeholder="Password" style="font-family: Nunito"><label for="signUpPassword"></label><input type="password" name="passwordRepeat" id="signUpPasswordRepeat" placeholder="Repeat Password" style="font-family: Nunito"><br><br>
            <p class="signUpError" id="passwordError">e</p>

            <select class="form-control mobileSelect" data-title="Select your school" name="courses" id="courses">
                <option value="blank">Select your school</option>
                <option value="architecture">School of Architecture, Planning and Landscape</option>
                <option value="artsAndCulture">School of Arts and Cultures</option>
                <option value="business">Business School</option>
                <option value="honoursCentre">Combined Honours Centre</option>
                <option value="educationCommunication">School of Education, Communication and Language Sciences</option>
                <option value="english">School of English Literature, Language and Linguistics</option>
                <option value="geography">School of Geography, Politics and Sociology</option>
                <option value="history">School of History, Classics and Archaeology</option>
                <option value="law">Newcastle Law School</option>
                <option value="modernLang">School of Modern Languages</option>
                <option value="philosophical">Philosophical Studies</option>
                <option value="biomed">School of Biomedical, Nutritional and Sport Sciences</option>
                <option value="dental">School of Dental Sciences</option>
                <option value="medical">School of Medical Education</option>
                <option value="pharmacy">School of Pharmacy</option>
                <option value="psychology">School of Psychology</option>
                <option value="computing">School of Computing</option>
                <option value="engineering">School of Engineering</option>
                <option value="mathematics">School of Mathematics, Statistics and Physics</option>
                <option value="environmental">School of Natural and Environmental Sciences</option>
            </select><br><br>
            <p class="signUpError" id="courseError">e</p>

            <select class="form-control mobileSelect" data-title="Select your role" name="roles" id="roles">
                <option value="blank">Select your role</option>
                <option value="student">Student</option>
                <option value="mentor">Peer Mentor</option>
            </select><br><br>
            <p class="signUpError" id="roleError">e</p>

            <button onclick="verifySignUp()" id="signUpBtn" style="font-family: Nunito" class="noSelect">Sign Up</button>

            <br>
            <div style="width: 100%; text-align: center">
                <img id="signUpLoading" class="loading" src="../static/images/spinner.svg"> {# Animation from loading.io #}
            </div>

            <button onclick="handleAuthClick()" id="googleSignIn" style="font-family: Nunito" class="noSelect">Sign in with Google</button>

            <br><br><div style="text-align: center"><a onclick="getLogin()" id="registerLink" style="font-family: Nunito" class="noSelect" >Already have an account? Sign in here</a></div>
        </div>
    </div>

    <div id="forgotDialog" class="forgotDialog">
        <div class="forgotDialogContent">
            <h3 class="noSelect">Forgot Password</h3>
            <label for="forgotEmail"></label><input type="email" name="email" id="forgotEmail" placeholder="Email for forgotten password" style="font-family: Nunito"><br><br>
            <p style="color: darkolivegreen" class="signUpError" id="emailSent">Forgot password email sent</p>

            <button onclick="forgotPassword(document.getElementById('forgotEmail').value)" id="forgotEmailBtn" style="font-family: Nunito" class="noSelect">Send Email</button>

            <br><br><div style="text-align: center"><a onclick="getLoginFromForgot()" id="backToSignInLink" style="font-family: Nunito" class="noSelect">Back to sign in</a></div>
        </div>
    </div>

    <script>
        // This enables the Bootstrap Fullscreen Select library to have a better select menu so it is more accessible on
        // mobile, the animate and theme are also determined here to change the look and feel.
        $('.mobileSelect').mobileSelect({
            animation: 'opacity',
            theme: 'mac'
        });

        // Animate sign up box to slide from right hand side.
        let page2Transition = anime({
            targets: '#loginDialog',
            translateX: [1500, 0], duration: 750,
            easing: 'easeInOutQuad'
        });

        // Login on enter press when password field is highlighted.
        var input = document.getElementById("loginPassword");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("loginBtn").click();
            }
        });
    </script>

    <!-- Initialize Firebase -->
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-database.js"></script>
    <script src="static/js/init.js"></script>
    <script src="static/js/auth.js"></script>
    <script src="../static/js/google-auth.js"></script>
    <script src="static/js/animations.js"></script>
</body>
</html>