<!--
Name: William Macpherson

This HTML script shows all the references used by each html page for clarity of ownership of information
-->

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="RouteToUni"/>
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <script src="static/js/animejs/lib/anime.min.js"></script>
    <script src="static/js/animations.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="../static/css/mobile-flipcard-stylesheet.css" />

    <!-- Link all favicons for different sizes. -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}"> <!-- Manifest responsible for working as a web app on mobile devices. -->
    <title>References - RouteToUni</title>
</head>
<body style="overflow-y: auto !important;">
    <div class="topnav">
        <img src="static/images/back.svg" id="back" onclick="backPress()" alt="Back button"/>
        <img src="static/images/back.svg" id="navArrow" alt="Show navigation bar"/>
        <span id="navChatBubble" class="navBubble" onclick="window.location.assign('/chat');" onmouseover="bubbleHover('#navChatBubble')" onmouseout="bubbleLeave('#navChatBubble')">
            <img id="navChatImg" class="navBubbleImg" src="../static/images/bubbles/chat.png" alt="Chat"/>
            <span id="navChatTooltip" class="navBubbleTooltip">Chat</span>
        </span>
        <span id="navNewsBubble" class="navBubble" onclick="window.location.assign('/news');" onmouseover="bubbleHover('#navNewsBubble')" onmouseout="bubbleLeave('#navNewsBubble')">
            <img id="navNewsImg" class="navBubbleImg" src="../static/images/bubbles/news.png" alt="News"/>
            <span id="navNewsTooltip" class="navBubbleTooltip">News</span>
        </span>
        <span id="navPubsBubble" class="navBubble" onclick="window.location.assign('/pubs');" onmouseover="bubbleHover('#navPubsBubble')" onmouseout="bubbleLeave('#navPubsBubble')">
            <img id="navPubsImg" class="navBubbleImg" src="../static/images/bubbles/drinks.png" alt="Pubs & Clubs"/>
            <span id="navPubsTooltip" class="navBubbleTooltip">Pubs & Clubs</span>
        </span>
        <span id="navMapBubble" class="navBubble" onclick="window.location.assign('/map');" onmouseover="bubbleHover('#navMapBubble')" onmouseout="bubbleLeave('#navMapBubble')">
            <img id="navLocationImg" class="navBubbleImg" src="../static/images/bubbles/location.png" alt="Map"/>
            <span id="navMapTooltip" class="navBubbleTooltip">Campus Map</span>
        </span>
        <span id="navAccommBubble" class="navBubble" onclick="window.location.assign('/accommodation');" onmouseover="bubbleHover('#navAccommBubble')" onmouseout="bubbleLeave('#navAccommBubble')">
            <img id="navAccommodationImg" class="navBubbleImg" src="../static/images/bubbles/home.png" alt="Accommodation"/>
            <span id="navAccommTooltip" class="navBubbleTooltip">Accommodation</span>
        </span>
        <span id="navHealthBubble" class="navBubble" onclick="window.location.assign('/health');" onmouseover="bubbleHover('#navHealthBubble')" onmouseout="bubbleLeave('#navHealthBubble')">
            <img id="navHealthImg" class="navBubbleImg" src="../static/images/bubbles/health.png" alt="Health"/>
            <span id="navHealthTooltip" class="navBubbleTooltip">Health</span>
        </span>
        <span id="navSocietiesBubble" class="navBubble" onclick="window.location.assign('/societies');" onmouseover="bubbleHover('#navSocietiesBubble')" onmouseout="bubbleLeave('#navSocietiesBubble')">
            <img id="navContactsImg" class="navBubbleImg" src="../static/images/bubbles/people.png" alt="Societies"/>
            <span id="navSocietiesTooltip" class="navBubbleTooltip">Societies</span>
        </span>
        <span id="navRevisionBubble" class="navBubble" onclick="window.location.assign('/revision');" onmouseover="bubbleHover('#navRevisionBubble')" onmouseout="bubbleLeave('#navRevisionBubble')">
            <img id="navRevisionImg" class="navBubbleImg" src="../static/images/bubbles/revision.png" alt="Revision"/>
            <span id="navRevisionTooltip" class="navBubbleTooltip">Revision</span>
        </span>
    </div>
    <div style="margin: 5%" class="ScrollStyle">
        <h1 style="color: white; font-family: 'GilroyBold', 'sans-serif'; font-size: 2em !important;">Website Information</h1>
        <p>This page is to show our refereneces for each page</p>
        <h2>Pubs and Clubs Page</h2>
        <p>No references</p>
        <h2>Health Page</h2>
        <p>Ncl.ac.uk. 2020. Mental Health And Wellbeing
            - Student And Staff Wellbeing - Newcastle University.
            [online] Available at:
            <a class="reflink" href="<https://www.ncl.ac.uk/wellbeing/mentalwellbeing/#counsellingteam>">https://www.ncl.ac.uk/wellbeing/mentalwellbeing/#counsellingteam</a>
            [Accessed 13 December 2020].</p>
        <h2>Societies Page</h2>
        <p>Ncl.ac.uk. 2020. Mental Health And Wellbeing - Student And Staff Wellbeing - Newcastle University. [online] Available at:
            <a class="reflink" href="<https://www.ncl.ac.uk/wellbeing/mentalwellbeing/#counsellingteam>">https://www.ncl.ac.uk/wellbeing/mentalwellbeing/#counsellingteam</a>
            [Accessed 13 December 2020].</p>
        <h2>Revision Page</h2>
        <p>STUDY_SKILLS_BOOKLET.pdf, Booklet provided to peer mentors. Created by: Gabrielle Vallons</p>
        <h2>Accommodation Page</h2>
        <p>Nusu.co.uk. 2020. Accommodation And Housing. [online] Available at:
            <a class="reflink" href="<https://www.nusu.co.uk/support/sac/housing/>">https://www.nusu.co.uk/support/sac/housing/</a>
            [Accessed 12 December 2020].</p>
        <h2>News Page</h2>
        <p>Ncl.ac.uk. 2020. Press Office - Latest News. [online] Available at: <a class="reflink" href="https://www.ncl.ac.uk/press/latest/">https://www.ncl.ac.uk/press/latest/</a>
            [Accessed whenever program is run]</p>
    </div>

</body>
</html>